* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

/* LOGIN */
.login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./images/bg.png') no-repeat center center fixed;
    background-size: cover;
}

.login-form {
    width: 25rem;
    height: 25em;
    background-color: rgb(44, 46, 46);
    border-radius: 1rem;
    padding: 2rem;
    border: 2px solid rgb(134, 5, 5);
    overflow: hidden;
}

.login-heading {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    text-align: center;
    color: red;
    margin-bottom: 1rem;
    overflow: hidden;
}

.username {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    line-height: 38.73px;
    color: lightgrey;
}

.input-login {
    width: 100%;
    height: 3rem;
    font-size: 18px;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    margin-bottom: 2rem;
}

.input-login::placeholder {
    color: black;
}

.btn {
    text-align: center;
}

.login-btn {
    width: 10rem;
    height: 3rem;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
    background-color: red;
    border: none;
}
.login-btn:hover {
    background-color: rgb(134, 5, 5);
    cursor: pointer;
}

/* MAIN */
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 23, 23);
    padding: 2rem;
}

.heading {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    color: red;
    overflow: hidden;
}

.foodyzone-links ul {
    display: flex;
    column-gap: 1rem;
    margin-top: 5rem;
}

.link {
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

.link:hover {
    color: rgb(165, 34, 60);
}

.search-foodyzone {
    display: flex;
    flex-direction: column;
}

.search-input {
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    border: 1px solid red;
    padding: 10px;
    outline: none;
    margin-bottom: 1.5rem;
}
.bg{
    background: url('./images/bg.png') no-repeat center center fixed;
    background-size: cover;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    overflow: hidden;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 20rem;
    height: 11rem;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 1px solid gray;
}

.box-img {
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.box-info {
    padding: 1rem;
}

.box-heading {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    overflow: hidden;
    margin-bottom: 10px;
    color: #fff;
}

.box-text {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    overflow: hidden;
    color: #fff;
}

.box-btn {
    font-family: "Poppins";
    width: 4rem;
    height: 2rem;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    margin-left: 50px;
}

.box-btn:hover {
    background-color: rgb(171, 4, 4);
    cursor: pointer;
}


/* PAGES */
.pages-main{
    display: flex;
    justify-content: center;
}
.pages ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 5rem;
    background-color: black;
    width: 35rem;
    height: 3rem;
    text-align: center;
    border-radius: 10px;
    border: 2px solid red;
}

.pages ul a{
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    text-decoration: none;
    color: #fff;
}
.pages ul a:hover{
    color: brown;
}
.pages ul li{
    overflow: hidden;
}


/* CART SECTION */
.cart-section{
    display: flex;
    justify-content: center;
}
.cart{
    width: 20rem;
    background-color: black;
    margin-bottom: 3rem;
    border-radius: 10px;
    border: 2px solid red;
}
.cart-section h2{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    color: #fff;
    overflow: hidden;
    padding: 1rem 0 0 1rem;
}
.cart-items{
    padding: 1rem;
}
.cart-item{
    overflow: hidden;
}
.cart-items span{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 10px;
}
.cart-items p{
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    color: #fff;
    overflow: hidden;
}
.cart-total h3{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    color: #fff;
    padding: 1rem 0 1rem 1rem;
    overflow: hidden;
}
.remove-btn{
    font-family: "Poppins";
    width: 2rem;
    height: 2rem;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.buy-btn{
    font-family: "Poppins";
    width: 5rem;
    height: 2rem;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    margin-left: 7rem;
    margin-bottom: 1rem;
}